In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [3]:
df = pd.read_excel('/content/1730285881-Airbnb_Open_Data.xlsx')

In [4]:
df.head()

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,United States,...,193.0,10.0,9.0,2021-10-19,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...,NaN
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,United States,...,28.0,30.0,45.0,2022-05-21,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...,NaN
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,NaN,Elise,Manhattan,Harlem,40.80902,-73.94190,United States,...,124.0,3.0,0.0,NaT,NaN,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and...",NaN
3,1002755,NaN,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,United States,...,74.0,30.0,270.0,2019-07-05,4.64,4.0,1.0,322.0,NaN,NaN
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,United States,...,41.0,10.0,9.0,2018-11-19,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th...",NaN

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102599 entries, 0 to 102598
Data columns (total 26 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   id                              102599 non-null  int64
 1   NAME                            102329 non-null  object
 2   host id                         102599 non-null  int64
 3   host_identity_verified          102310 non-null  object
 4   host name                       102191 non-null  object
 5   neighbourhood group             102570 non-null  object
 6   neighbourhood                   102583 non-null  object
 7   lat                             102591 non-null  float64
 8   long                            102591 non-null  float64
 9   country                         102067 non-null  object
 10  country code                    102468 non-null  object
 11  instant_bookable                102494 non-null  float64
 12  cancellation_policy             102523 non-null  object
 13  room type                       102599 non-null  object
 14  Construction year               102385 non-null  float64
 15  price                           102352 non-null  float64
 16  service fee                     102326 non-null  float64
 17  minimum nights                  102190 non-null  float64
 18  number of reviews               102416 non-null  float64
 19  last review                     86706 non-null   datetime64[ns]
 20  reviews per month               86720 non-null   float64
 21  review rate number              102273 non-null  float64
 22  calculated host listings count  102280 non-null  float64
 23  availability 365                102151 non-null  float64
 24  house_rules                     47756 non-null   object
 25  license                         2 non-null       object
dtypes: datetime64[ns](1), float64(12), int64(2), object(11)
memory usage: 20.4+ MB

In [6]:
df.duplicated().value_counts()

False    102058
True        541
Name: count, dtype: int64

In [7]:
df[df['neighbourhood group'] == 'brookln']

,id,NAME,host id,host_identity_verified,host name,neighbourhood group,neighbourhood,lat,long,country,...,service fee,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365,house_rules,license
13,1008516,"Lovely Room 1, Garden, Best Area, Legal rental",26802410424,verified,Darcy,brookln,South Slope,40.66829,-73.98779,United States,...,116.0,4.0,167.0,2019-06-24,1.34,4.0,3.0,47.0,NaN,NaN

In [8]:
df.drop_duplicates(inplace = True)

In [9]:
# Drop columns with insufficient data (as identified in the notebook)
df.drop(['house_rules', 'license'], axis = 1, inplace=True)

In [12]:
# Remove dollar signs and commas from price and service fee columns
df['price'] = df['price'].astype(str).str.replace('$', '', regex=False)
df['service fee'] = df['service fee'].astype(str).str.replace('$', '', regex=False)

In [13]:
df['price'] = df['price'].str.replace(',', '', regex=False)
df['service fee'] = df['service fee'].str.replace(',', '', regex=False)

In [14]:
# Rename the price and service fee columns
df.rename(columns = {
    'price' : 'price_$',
    'service fee' : 'service_fee_$'
}, inplace = True)

In [15]:
# Drop all records with any remaining missing values
df.dropna(inplace = True)

In [17]:
# Change mismatched data types
df['price_$'] = df['price_$'].astype(float)
df['service_fee_$'] = df['service_fee_$'].astype(float)
df['id'] = df['id'].astype(str)
df['host id'] = df['host id'].astype(str)
df['last review'] = pd.to_datetime(df['last review'])
df['Construction year'] = df['Construction year'].astype(int)

In [18]:
# Correct the spelling of 'brookln' to 'Brooklyn'
df.loc[df['neighbourhood group'] == 'brookln', 'neighbourhood group'] = 'Brooklyn'

In [19]:
df.drop(df[df['availability 365'] > 500].index, inplace=True)

In [20]:
df.duplicated().value_counts()

False    83796
Name: count, dtype: int64

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 83796 entries, 0 to 102057
Data columns (total 24 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   id                              83796 non-null  object
 1   NAME                            83796 non-null  object
 2   host id                         83796 non-null  object
 3   host_identity_verified          83796 non-null  object
 4   host name                       83796 non-null  object
 5   neighbourhood group             83796 non-null  object
 6   neighbourhood                   83796 non-null  object
 7   lat                             83796 non-null  float64
 8   long                            83796 non-null  float64
 9   country                         83796 non-null  object
 10  country code                    83796 non-null  object
 11  instant_bookable                83796 non-null  float64
 12  cancellation_policy             83796 non-null  object
 13  room type                       83796 non-null  object
 14  Construction year               83796 non-null  int64
 15  price_$                         83596 non-null  float64
 16  service_fee_$                   83567 non-null  float64
 17  minimum nights                  83796 non-null  float64
 18  number of reviews               83796 non-null  float64
 19  last review                     83796 non-null  datetime64[ns]
 20  reviews per month               83796 non-null  float64
 21  review rate number              83796 non-null  float64
 22  calculated host listings count  83796 non-null  float64
 23  availability 365                83796 non-null  float64
dtypes: datetime64[ns](1), float64(11), int64(1), object(11)
memory usage: 16.0+ MB

In [22]:
df.describe()

,lat,long,instant_bookable,Construction year,price_$,service_fee_$,minimum nights,number of reviews,last review,reviews per month,review rate number,calculated host listings count,availability 365
count,83796.000000,83796.000000,83796.000000,83796.000000,83596.000000,83567.000000,83796.000000,83796.000000,83796,83796.000000,83796.000000,83796.000000,83796.000000
mean,40.727353,-73.948502,0.497721,2012.489522,626.342457,125.232436,7.436775,32.226622,2019-06-09 15:15:53.229271296,1.375596,3.278820,7.049907,141.759153
min,40.504560,-74.249840,0.000000,2003.000000,50.000000,10.000000,-365.000000,1.000000,2012-07-11 00:00:00,0.010000,1.000000,1.000000,-10.000000
25%,40.687660,-73.982110,0.000000,2007.000000,340.000000,68.000000,2.000000,3.000000,2018-10-27 00:00:00,0.220000,2.000000,1.000000,6.000000
50%,40.721335,-73.953710,0.000000,2012.000000,625.000000,125.000000,3.000000,11.000000,2019-06-13 00:00:00,0.740000,3.000000,1.000000,101.000000
75%,40.762580,-73.930790,1.000000,2017.000000,914.000000,183.000000,5.000000,38.000000,2019-07-05 00:00:00,2.010000,4.000000,2.000000,266.000000
max,40.916970,-73.705220,1.000000,2022.000000,1200.000000,240.000000,5645.000000,1024.000000,2022-05-21 00:00:00,90.000000,5.000000,332.000000,426.000000
std,0.056317,0.050338,0.499998,5.760523,331.809388,66.357813,28.122911,51.897899,NaN,1.749446,1.283724,29.568700,133.408285

In [26]:
# --- Q1: Property Types and Count (Image 1000034255.jpg) ---
print("\n--- Property Types Count ---")
property_types = df['room type'].value_counts().to_frame().reset_index()
property_types.columns = ['Room Type', 'Count']
print(property_types)

plt.figure(figsize=[8, 6])
room_type_bar = plt.bar(property_types['Room Type'], property_types['Count'])
plt.bar_label(room_type_bar, labels = property_types['Count'], padding = 4)
plt.ylim(0, property_types['Count'].max() * 1.1)
plt.xlabel("Room Type")
plt.ylabel("Room Type Count")
plt.title("Property Types and their count in the Dataset")
plt.savefig('room_type_count_bar.png')
plt.close()
print("Plot saved: room_type_count_bar.png")

--- Property Types Count ---
         Room Type  Count
0  Entire home/apt  44367
1     Private room  37664
2      Shared room   1655
3       Hotel room    110
Plot saved: room_type_count_bar.png

In [27]:
# --- Q2: Highest number of listings by Neighborhood Group (Image 1000034256.jpg) ---

hood_group = df['neighbourhood group'].value_counts().to_frame()
print(hood_group)

                     count
neighbourhood group
Brooklyn             34780
Manhattan            34735
Queens               11184
Bronx                 2276
Staten Island          821

In [30]:
hood_group_bar = plt.bar(hood_group.index, hood_group['count'])
plt.bar_label(hood_group_bar, labels = hood_group['count'], padding = 4)
plt.ylim([0, 40000])
plt.xlabel('Neighborhood Group')
plt.ylabel('Number of Listings')
plt.xticks(rotation = 45)
plt.title('Which Neighborhood Groups has the highest number of Listings')
plt.tight_layout()
plt.savefig('neighbourhood_group_bar.png')
plt.close()
print("Plot saved: neighbourhood_group_bar.png")

Plot saved: neighbourhood_group_bar.png

In [31]:
print("\n--- Average Price by Neighborhood Group ---")
avg_price = df.groupby(['neighbourhood group'])['price_$'].mean().sort_values(ascending = False).to_frame().reset_index()
avg_price.columns = ['neighbourhood group', 'price_$']
print(avg_price)

plt.figure(figsize=[10, 6])
avg_price_bar = plt.bar(avg_price['neighbourhood group'], avg_price['price_$'])
plt.bar_label(avg_price_bar, labels = round(avg_price['price_$'], 2), padding = 4)
plt.ylim([0, avg_price['price_$'].max() * 1.1])
plt.xlabel('Neighborhood Group')
plt.ylabel('Average Price per Listings ($)')
plt.xticks(rotation = 45)
plt.title('Average Price per Listings ($) in each Neighborhood Group')
plt.tight_layout()
plt.savefig('avg_price_by_neighborhood_bar.png')
plt.close()
print("Plot saved: avg_price_by_neighborhood_bar.png")

--- Average Price by Neighborhood Group ---
  neighbourhood group     price_$
0              Queens  630.535365
1               Bronx  630.343901
2            Brooklyn  627.717002
3           Manhattan  623.446847
4       Staten Island  622.372861
Plot saved: avg_price_by_neighborhood_bar.png

In [33]:
print("\n--- Average Price by Construction Year (Line Plot) ---")
avg_price_by_year = df.groupby(df['Construction year'])['price_$'].mean().to_frame()

plt.figure(figsize=[10, 6])
avg_price_by_year.plot(ax=plt.gca(), legend=False)
plt.xlabel('Construction Year')
plt.ylabel('Average Price ($)')
plt.title('Average Price ($) for Properties in each Construction Year')
plt.grid(True, axis='y', linestyle='--')
plt.tight_layout()
plt.savefig('avg_price_by_construction_line.png')
plt.close()
print("Plot saved: avg_price_by_construction_line.png")

--- Average Price by Construction Year (Line Plot) ---
Plot saved: avg_price_by_construction_line.png

In [35]:
# --- Q5: Top 10 hosts by calculated host listing count (Image 1000034260.jpg) ---
print("\n--- Top 10 Hosts by Calculated Host Listing Count ---")
hosts = df.groupby(['host name'])['calculated host listings count'].sum().sort_values(ascending = False).nlargest(10).to_frame().reset_index()
hosts.columns = ['Host Name', 'calculated host listings count']
print(hosts)

plt.figure(figsize=[12, 7])
hosts_bar = plt.bar(hosts['Host Name'], hosts['calculated host listings count'])
plt.bar_label(hosts_bar, labels = hosts['calculated host listings count'], label_type = 'edge', padding = 3)
plt.xlabel('Hosts Name')
plt.ylabel('Calculated Host listings count')
plt.xticks(rotation = 80)
plt.ylim([0, hosts['calculated host listings count'].max() * 1.1])
plt.title('Top 10 Hosts by Calculated Host Listings Count')
plt.tight_layout()
plt.savefig('top_10_hosts_bar.png')
plt.close()
print("Plot saved: top_10_hosts_bar.png")

--- Top 10 Hosts by Calculated Host Listing Count ---
           Host Name  calculated host listings count
0       Sonder (NYC)                        111921.0
1              Karen                         42413.0
2           Jeniffer                         31447.0
3         Blueground                         21168.0
4                Kaz                         17713.0
5  Corporate Housing                         15015.0
6               Soya                         10602.0
7     Stay With Vibe                         10368.0
8             Justin                         10357.0
9               Kara                         10092.0
Plot saved: top_10_hosts_bar.png

In [36]:
print("\n--- Average Review Rate by Host Verification Status ---")
review = df.groupby(['host_identity_verified'])['review rate number'].mean().sort_values(ascending = False).to_frame().reset_index()
review.columns = ['host_identity_verified', 'review rate number']
print(review)

--- Average Review Rate by Host Verification Status ---
  host_identity_verified  review rate number
0               verified            3.283856
1            unconfirmed            3.273786

In [37]:
print("\n--- Correlation: Price vs. Service Fee ---")
correlation_price_service = df['price_$'].corr(df['service_fee_$'])
print(f"Pearson correlation coefficient (price vs. service fee): {correlation_price_service}")

--- Correlation: Price vs. Service Fee ---
Pearson correlation coefficient (price vs. service fee): 0.9999909082976466

In [38]:
sns.regplot(data=df, x = 'price_$', y = 'service_fee_$')
plt.xlabel('Price ($)')
plt.ylabel('Service Fee ($)')
plt.title('A Regression Plot showing the Correlation of the Price of a Listing and its Service Fee')
plt.tight_layout()
plt.savefig('price_vs_service_fee_regplot.png')
plt.close()
print("Plot saved: price_vs_service_fee_regplot.png")

Plot saved: price_vs_service_fee_regplot.png

In [39]:
print("\n--- Average Review Rate by Neighborhood Group and Room Type ---")
ARRN = df.groupby(['neighbourhood group', 'room type'])['review rate number'].mean().to_frame()
print(ARRN)

--- Average Review Rate by Neighborhood Group and Room Type ---
                                     review rate number
neighbourhood group room type
Bronx               Entire home/apt            3.379863
                    Private room               3.312548
                    Shared room                3.356322
Brooklyn            Entire home/apt            3.243013
                    Hotel room                 3.833333
                    Private room               3.274774
                    Shared room                3.322368
Manhattan           Entire home/apt            3.268940
                    Hotel room                 3.500000
                    Private room               3.285628
                    Shared room                3.252976
Queens              Entire home/apt            3.347437
                    Hotel room                 3.750000
                    Private room               3.311761
                    Shared room                3.327402
Staten Island       Entire home/apt            3.334129
                    Private room               3.493671
                    Shared room                3.714286

In [40]:

sns.barplot(data = df, x = 'neighbourhood group', y = 'review rate number', hue = 'room type', errorbar=None)
plt.xlabel('Neighbourhood Group')
plt.ylabel('Average Review Rate')
plt.title('Average Review Rate for each Room/Property Type in each Neighbourhood Group')
plt.legend(title='room type')
plt.tight_layout()
plt.savefig('avg_review_rate_by_hood_room_bar.png')
plt.close()
print("Plot saved: avg_review_rate_by_hood_room_bar.png")

Plot saved: avg_review_rate_by_hood_room_bar.png

In [41]:
print("\n--- Correlation: Calculated Host Listings Count vs. Availability 365 ---")
correlation_listings_availability = df['calculated host listings count'].corr(df['availability 365'])
print(f"Pearson correlation coefficient (listings vs. availability): {correlation_listings_availability}")

--- Correlation: Calculated Host Listings Count vs. Availability 365 ---
Pearson correlation coefficient (listings vs. availability): 0.1353372562905428

In [42]:
sns.regplot(data=df, x = 'calculated host listings count', y = 'availability 365')
plt.xlabel('Calculated Host listings')
plt.ylabel('Availability 365')
plt.title('A Regression Plot of the Relationship between Calculated Host Listings Count and Availability 365')
plt.tight_layout()
plt.savefig('listings_vs_availability_regplot.png')
plt.close()
print("Plot saved: listings_vs_availability_regplot.png")

Plot saved: listings_vs_availability_regplot.png